@model Proyecto.Models.Docente

<h2>Eliminar Docente</h2>
@using (Html.BeginForm("Delete", "Docentes", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.Id)
    <div class="form-group">
        <label>Nombre</label>
        <p>@Model.Nombre</p>
    </div>

    <div class="form-group">
        <label>Apellidos</label>
        <p>@Model.Apellidos</p>
    </div>

    <div class="form-group">
        <label>Sexo</label>
        <p>@Model.Sexo</p>
    </div>

    <div class="form-group">
        <label>Título</label>
        <p>@Model.Titulo</p>
    </div>

    <div class="form-group">
        <label>Teléfono</label>
        <p>@Model.Telefono</p>
    </div>


    <div class="form-group">
        <label>Email</label>
        <p>@Model.Email</p>
    </div>

    <div>
        <input type="submit" value="Delete" />
    </div>
}