
@{
    ViewBag.Title = "NuevoDocente";
}

<h2>Agregar Docente</h2>

<fieldset>
    <legend>Ingrese Datos</legend>
    @using (@Html.BeginForm("Guardar", "Docentes", FormMethod.Post, new { @class = "form-horizontal" }))
    {


        <div class="form-group">
            <span class="col-md-2">
                Rut
            </span>
            <span class="col-md-6">
                @Html.TextBox("Rut", null, new { @class = "form-control", placeholder = "Ingrese Rut" })
            </span>
        </div>

        <div class="form-group">
            <span class="col-md-2">
                Nombre
            </span>
            <span class="col-md-6">
                @Html.TextBox("Nombre", null, new { @class = "form-control", placeholder = "Ingrese Nombre" })
            </span>
        </div>

        <div class="form-group">
            <span class="col-md-2">
                Apellidos
            </span>
            <span class="col-md-6">
                @Html.TextBox("Apellidos", null, new { @class = "form-control", placeholder = "Ingrese Apellidos" })
            </span>
        </div>

        <div class="form-group">
            <span class="col-md-2">
                Sexo
            </span>
            <span class="col-md-6">
                @Html.DropDownList("Sexo", new List<SelectListItem>
                    {
                        new SelectListItem{Text="Masculino", Value="Masculino"},
                        new SelectListItem{Text="Femenino", Value="Femenino"},
                    }, "Seleccione Sexo",
                                                                                                        new { @class = "form-control" }
                                                                                                        )
            </span>
        </div>


        <div class="form-group">
            <span class="col-md-2">
                Título
            </span>
            <span class="col-md-6">
                @Html.TextBox("Titulo", null, new { @class = "form-control", placeholder = "Ingrese Título" })
            </span>
        </div>

        <div class="form-group">
            <span class="col-md-2">
                Teléfono
            </span>
            <span class="col-md-6">
                @Html.TextBox("Telefono", null, new { @class = "form-control", placeholder = "Ingrese Teléfono" })
            </span>
        </div>

        <div class="form-group">
            <span class="col-md-2">
                Email
            </span>
            <span class="col-md-6">
                @Html.TextBox("Email", null, new { @class = "form-control", placeholder = "Ingrese Email" })
            </span>
        </div>
        


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

    }
</fieldset>
