@model Proyecto.Models.Curso

<h2>Ficha Curso</h2>

<div class="dl-horizontal">
    <label>Id:  </label>
    <span>@Model.Id</span>
</div>
<div class="dl-horizontal">
    <label>Curso:  </label>
    <span>@Model.Nombre</span>
</div>
<div class="dl-horizontal">
    <label>Docente a Cargo:  </label>
    <span>@Model.Docente</span>
</div>
<div class="dl-horizontal">
    <label>Costo:  </label>
    <span>@Model.Costo</span>
</div>
<div class="dl-horizontal">
    <label>Jornada:  </label>
    <span>@Model.Jornada</span>
</div>
<div class="dl-horizontal">
    <label>Modalidad:  </label>
    <span>@Model.Modalidad</span>
</div>
<div class="dl-horizontal">
    <label>Cupo:  </label>
    <span>@Model.Cupo</span>
</div>
