
@{
    ViewBag.Title = "NuevoCurso";
}

<h2>Agregar Curso</h2>

<fieldset>
    <legend>Ingrese Datos</legend>
    @using (@Html.BeginForm("Guardar", "Cursos", FormMethod.Post, new { @class = "form-horizontal" }))
    {


        <div class="form-group">
            <span class="col-md-2">
                Nombre Curso
            </span>
            <span class="col-md-6">
                @Html.TextBox("Nombre", null, new { @class = "form-control", placeholder = "Ingrese Nombre del Curso" })
            </span>
        </div>

        

        <div class="form-group">
            <span class="col-md-2">
                Docente a Cargo
            </span>
            <span class="col-md-6">
                @Html.TextBox("Docente", null, new { @class = "form-control", placeholder = "Ingrese Docente a Cargo" })
            </span>
        </div>
        
        <div class="form-group">
            <span class="col-md-2">
                Costo
            </span>
            <span class="col-md-6">
                @Html.TextBox("Costo", null, new { @class = "form-control", placeholder = "Ingrese Costo" })
            </span>
        </div>

        <div class="form-group">
            <span class="col-md-2">
                Jornada
            </span>
            <span class="col-md-6">
                @Html.DropDownList("Jornada", new List<SelectListItem>
                    {
                        new SelectListItem{Text="Diurna", Value="Diurna"},
                        new SelectListItem{Text="Vespertina", Value="Vespertina"},
                    }, "Seleccione una Jornada",
                                                                          new { @class = "form-control" }
                                                                          )
            </span>
        </div>

        <div class="form-group">
            <span class="col-md-2">
                Modalidad
            </span>
            <span class="col-md-6">
                @Html.DropDownList("Modalidad", new List<SelectListItem>
                    {
                        new SelectListItem{Text="Presencial", Value="Presencial"},
                        new SelectListItem{Text="Semi-Presencial", Value="Semi-Presencial"},
                        new SelectListItem{Text="Online", Value="Online"}
                    }, "Seleccione una Modalidad",
                                                                          new { @class = "form-control" }
                                                                          )
            </span>
        </div>

        <div class="form-group">
            <span class="col-md-2">
                Cupo
            </span>
            <span class="col-md-6">
                @Html.TextBox("Cupo", null, new { @class = "form-control", placeholder = "Ingrese Cupo" })
            </span>
        </div>

        

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

    }
</fieldset>
